cachelib==0.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
dnspython==2.0.0
email-validator==1.1.1
eventlet==0.26.1
Flask==1.1.2
Flask-Session==0.3.2
Flask-Shelve==0.1.1
Flask-SocketIO==4.3.1
Flask-WTF==0.14.3
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.2
MarkupSafe==1.1.1
monotonic==1.5
multitasking==0.0.9
numpy==1.19.2
pandas==1.1.1
python-dateutil==2.8.1
python-dotenv==0.14.0
python-engineio==3.13.1
python-socketio==4.6.0
pytz==2020.1
redis==3.5.3
requests==2.24.0
six==1.15.0
tinydb==4.2.0
urllib3==1.25.10
Werkzeug==1.0.1
WTForms==2.3.3
yfinance==0.1.54
zope.event==4.5.0
zope.interface==5.1.2
