<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Wsimple: Desktop for Wealthsimple Trade</title>
</head>
<body class="bg-red-100">
    <div id="navbar" class="flex items-center justify-between bg-white px-48 py-4 h-20">
        <div class="">
            Wsimple
        </div>
        <button class="text-white rounded-full px-10 py-3 custom-background-gold custom-background-gold-hover">
            Sign up
        </button>  
    </div>
    <div id="body" class=""> 
        <div id="login">
            
        </div>
    </div>
</body>
</html>