* {
    font-family: futura-pt, "system-ui", Helvetica Neue, sans-serif;
}

body {
    background-color: #F9F6F6;
}

.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 5rem;
    background-color: #FFFFFF;
}

.custom-logo {
    color: #000000;
    font-size: 25px;
}

.custom-navbar-button:hover {
    opacity: 0.8;
}

.login-padding {
    padding: 22px;
}

.custom-login {
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-navbar-button {
    border-color: #FAB132;
    background-color: #FAB132;
    border-radius: 25px;
}