* {
    font-family: futura-pt, "system-ui", Helvetica Neue, sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F9F6F6;
    margin: 0;
    padding: 0;
}

.custom-navbar {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    height: 100vh;
    width: 5vw;
    background-color: #ffffff;
    align-items: center;
    padding: 15px 0px;
    float: left;
    margin-right: 20px;
}

.custom-navbar>a {
    margin: 5px 0px;
}
