<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/wealthsimple/fabric/css/fabric.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Wsimple: Desktop for Wealthsimple Trade</title>
</head>
<body class="">
    <div class="container">
        <!-- contents here -->
    </div>
    <div id="navbar" class="flex items-center justify-between bg-white px-48 py-4 h-20">
        <div class="">
            Wsimple
        </div>
        <a class="button primary-action" href="#" role="button">Link button</a>
    </div>
    <div id="body" class=""> 
        <div id="login">
            
        </div>
    </div>
</body>
</html>